@import url('https://fonts.googleapis.com/css?family=Medula+One|Gugi|Nixie+One');
@import url('https://use.fontawesome.com/releases/v5.0.12/css/all.css');
@import "./../helpers/mediaQueries.scss";

body {
    font-size: 12px; 
    color: black;
    font-family: 'Nixie One', cursive;
} 

html, body, #app, .container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
    overflow-x: hidden;
} 

a:visited {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


/* Elements */ 
@keyframes pulse {
    from { filter: hue-rotate(360deg); }
    to { filter: none; }
}

.button { 
    transition: opacity .25s, letter-spacing .25s;

    font-family: 'Gugi', cursive;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        opacity: 1;
        letter-spacing: 1.5px;
    }
}
 
/* Typography */
hr {
    width: 25%;
    border: 0; 
    height: 1px; 
    background: rgba(255, 255, 255, 0.65);   
}

hr.pike {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

h1 {
    font-size: 60px; 
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 30px;
    letter-spacing: 2px;
}
h5 {
    font-size: 20px;
}

h1, h2, h3 {
    font-family: 'Gugi', cursive;
}

h4, h5 {
    font-family: 'Nixie One', cursive;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
} 

@include mobile-only {
    body {
        font-size: 10px;
    }
    h1 {
        font-size: 40px; 
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px; 
    }
    h5 {
        font-size: 15px;
    }
    
}
@include tablet-only {
    body {
        font-size: 11px;
    }
    h1 {
        font-size: 40px; 
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px; 
    }
    h5 {
        font-size: 15px;
    }
}