@import "./../../helpers/mediaQueries.scss";

#dashboard-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
    grid-template-areas: 'left right';
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12); 

    h1, h2, h3, h4, h5, p, li, ul { 
        margin: 0;
        padding: 0;
        
    } 

    &,
    #sidebar {
        min-height: 100%;  
    }
    
    &.expanded { 
        grid-template-columns: 2.5% 97.5%; 

        #sidebar {  
            
            #collapse-icon {
                float: initial;
                cursor: pointer;
            }

            li { 
                text-align: center;
                padding: 10px;

                i {
                    font-size: 15px; 
                }

                span {
                    font-size: 0px;
                } 

                &:hover {
                    padding: 10px !important;
                    letter-spacing: initial !important; 
                }
            }
        }
    }

    #sidebar { 
        grid-area: left;
        background: rgb(34, 34, 34); 
        -webkit-box-shadow: 1px 0px 2px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 0px 2px 2px rgba(0,0,0,0.75);
        box-shadow: 1px 0px 2px 2px rgba(0,0,0,0.75);

        color: white;

        ul {
            list-style-type: none;
            width: 100%; 

            display: inline-grid;
            grid-template-columns: 100%;
        }
 
        li {  
            font-size: 16px;
            color: white;
            font-family: 'Gugi', cursive;
            transition: padding .25s, letter-spacing .25s, box-shadow .25s;
             
            padding: 15px 15px 15px 20px; 
            display: block;

            border-bottom: 1px solid rgba(148, 148, 148, 0.43);

            @include mobile-only {
                &, &#logo {
                    font-size: 12px;
                }
                i {
                    display: none;
                }
            }

            @include tablet-only {
                &, &#logo {
                    font-size: 12px;
                }
                i {
                    display: none;
                }
            }

            #collapse-icon {
                float: right;
                cursor: pointer;
            }

            i {
                margin-right: 3%;
            }
 
            &:first-child {
                background: #000;
                font-size: 18px;
                font-style: bold;   
            }

            &:not(:first-child):hover {
                padding: 17.5px 15px 17.5px 20px;
                letter-spacing: 1.5px;
                box-shadow: 0px 0px 1px rgba(255, 255, 255, .75);
                cursor: pointer;
            }
        } 
 
    }

    #dashboard { 
        padding: 25px 25px 15px 25px;
        grid-area: right; 
        color: white;
    }

    #dashboard-header {
        height: 5%;
    }

    #dashboard-content {
        height: 95%; 
        padding: 1%;
        box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.23);
        border: 1px solid rgba(0, 0, 0, 0.65);
        background: rgba(34, 34, 34, .95);
    }
}
